.cart-page {
  line-height: 1.5;

  &__checkout-btn {
    margin-top: 20px;
  }
}

.shopping-cart__delete,
.shopping-cart__delete-v2 {
  right: 20px;
  width: 22px;
  height: 22px;
}

.cart-table {
  gap: 20px;
}

.checkout-disabled-btn {
  padding: var(--paddin-shop-btn-m);
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .shopping-cart__delete {
    top: 21px;
    right: 12px;
  }
}

@media screen and (max-width: 768px) {
  .cart-table .table {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .cart-products-container {
    display: none;
  }
}
