.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;

  @media screen and (max-width: 640px) {
    padding: 80px 15px;
  }

  &-img {
    margin-bottom: 32px;

    @media screen and (max-width: 640px) {
      width: 400px;
    }
  }

  &-text {
    margin: 20px 0 24px;
    color: var(--gray-500);
    text-align: center;

    @media screen and (min-width: 640px) {
      width: 612px;
    }
  }

  &-btn {
    font-size: 14px;
    padding: 14px 32px;
  }
}
